[Unit]
Description=Restart docker after weed mount
After=seaweedfs-mount.service

[Service]
ExecStart=/root/wait_for_mount.sh

[Install]
WantedBy=docker.service