[Unit]
Description=Restart docker after weed mount
After=network-online.target seaweedfs-mount.service

[Service]
ExecStart=/usr/sbin/wait_for_weed_mount

[Install]
WantedBy=multi-user.target