[Unit]
Description=Restart docker after weed mount
After=seaweedfs-mount.service

[Service]
ExecStart=/usr/sbin/wait_for_weed_mount

[Install]
WantedBy=docker.service